<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/javascripts/md-editor/dist/simplemde.min.css" />
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/app.css">
    <!--<link rel="stylesheet" href="/mavon-editor/dist/css/index.css">-->
</head>
<body>
   
    <div id="app"></div>

    <script src="/vue/dist/vue.min.js"></script>
    <script src="/vue-resource/dist/vue-resource.js"></script>
    <script src="/to-markdown/dist/to-markdown.js"></script>
    <script src="/markdown/lib/markdown.js"></script>
    <script src="/javascripts/md-editor/dist/simplemde.min.js"></script>
    <script src="/javascripts/model/SequenceModel.js"></script>
    <script src="/javascripts/model/SessionModel.js"></script>
    <script src="/javascripts/model/CoursModel.js"></script>
    <script src="/javascripts/app.js"></script>
    <script>
        //import mavonEditor from 'mavon-editor'

        Vue.filter('markdown', str => markdown.toHTML(str));
        //Vue.use(mavoneditor);
        Vue.use(VueResource);
        var vue = new Vue({
            el: "#app",
            template: "<app></app>",
            components: {
                App
            }
        })
    </script>
</body>
</html>
